{% load i18n %}
{% load static %}
<div class="card">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                <span class=" tags has-addons ">
                    <span class="tag {%if emission.received %}is-primary{%else%}is-link{%endif%} is-rounded">
                        {{emission.number}}
                    </span>
                    {%if not emission.sequence.can_emit %}
                    <span class="tag is-danger is-rounded">
                        {% trans 'sequence locked' %}
                    </span>
                    {% endif %}
                </span>
            </p>
            {%if emission.sequence.can_emit %}
            {% if emission.received %}
            <a class="card-header-icon" aria-label="remove received" href="{% url 'emissions:admin_remove_received' emission.id %}"
                data-tooltip="{% trans 'remove received'%}">
                <span class="icon">
                    <i class="fas fa-cancel has-text-link" aria-hidden="true"></i>
                </span>
            </a>
            {% else %}
            <a class="card-header-icon" aria-label="edit" href="{% url 'emissions:admin_edit' emission.id %}"
                data-tooltip="{% trans 'edit'%}">
                <span class="icon">
                    <i class="fas fa-edit" aria-hidden="true"></i>
                </span>
            </a>
            {%if can_administrate %}
            <a class="card-header-icon" aria-label="receive" href="{% url 'emissions:admin_receive' emission.id %}"
                data-tooltip="{% trans 'receive'%}">
                <span class="icon">
                    <i class="fas fa-check" aria-hidden="true"></i>
                </span>
            </a>
            {% endif %}
            {% endif %}
            {% endif %}
            <a class="card-header-icon" aria-label="files" href="{% url 'emissions:admin_files' emission.id %}"
                data-tooltip="{% trans 'files'%}">
                <span class="icon">
                    <i class="fas fa-file" aria-hidden="true"></i>
                </span>
            </a>
        </header>
        <div class="card-content">
            <p>{{emission.detail}}</p>
            <p><i class="fas fa-map-marker-alt" aria-hidden="true"></i> {{emission.destination}}</p>
            <p><i class="fas fa-user" aria-hidden="true"></i> {{emission.user}}</p>
            <p><i class="fas fa-calendar-day" aria-hidden="true"></i> {{emission.date}}</p>
            {% if emission.received %}
            <p class="is-small"><i class="fas fa-check has-text-link" aria-hidden="true"></i> {{emission.date_received}}
                ({{emission.user_received}})
            </p>
            {% endif %}
            {% if emission.file_count %}
            <p class="has-text-primary"><i class="fas fa-file" aria-hidden="true"></i> {{emission.file_count}}</p>
            {% endif %}
            <div class="content is-small has-text-right">
                <p><i class="fas fa-id" aria-hidden="true"></i>
                    {{emission.sequence.document|upper}}-{{emission.number|stringformat:"04d"}}-{{emission.sequence.year}}
                </p>
            </div>

        </div>
    </div>
</div>