{% load i18n %}
{% load static %}
<div class="pagination is-right">
    <span class="step-links">
        {% for key, val in items_by_department.items %}
        {% if key == user_department.department.id %}
        {% if val.has_previous %}
        <a
            href="?page_{{ user_department.department.id }}=1&tab={{forloop.parentloop.counter0}}">&laquo;
            {% trans "first page" %}</a>&nbsp;&nbsp;
        <a
            href="?page_{{ user_department.department.id }}={{ val.previous_page_number }}&tab={{forloop.parentloop.counter0}}">{% trans "back" %}</a>
        {% endif %}

        <span class="current">
            {% trans "page" %} {{ val.number }} {% trans "of" %} {{val.paginator.num_pages }}.
        </span>

        {% if val.has_next %}
        <a
            href="?page_{{ user_department.department.id }}={{ val.next_page_number }}&tab={{forloop.parentloop.counter0}}">{% trans "next" %}</a>&nbsp;&nbsp;
        <a
            href="?page_{{ user_department.department.id }}={{ val.paginator.num_pages }}&tab={{forloop.parentloop.counter0}}">{% trans "last page" %}
            &raquo;</a>
        {% endif %}
        {% endif %}
        {% endfor %}

    </span>
</div>