{% extends 'base.html' %}
{% load i18n %}
{% block content %}
{% load static %}
<section class="hero is-primary is-small">
    <div class="hero-body">
        <p class="title">{% trans "emission" %}</p>
    </div>
</section>
<section class="section">
    <div class="container is-flex is-flex-direction-column">
        <div class="spacing">
            {%if user_departments %}
            <a href="{% url 'emissions:new' %}" class="button is-primary is-rounded">
                <span class="icon is-small"><i class="fas fa-circle-plus" aria-hidden="true"></i></span>
                <span>{% trans "new emission" %}</span>
            </a>
            {% else %}
            <article class="message">
                <div class="message-body">
                    {% trans "user not assigned to departments"%}
                </div>
            </article>
            {% endif %}
        </div>
        <div class="spacing tabs-wrapper">
            <div class="tabs is-toggle is-toggle-rounded is-fullwidth">
                <ul>
                    {% for user_department in user_departments %}
                    <li class="{% if forloop.counter0 == tab %}is-active{% endif %}">
                        <a>{{ user_department.department.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tabs-content">
                <ul>
                    {% for user_department in user_departments %}
                    <li class="{% if forloop.counter0 == tab %}is-active{% endif %}">
                        <div>
                            <div class="grid is-gap-2 is-col-min-12">
                                {% for key, val in emissions_by_department.items %}
                                {% if key == user_department.department.id %}
                                {% for emission in val %}
                                <div class="cell">
                                    <div class="card">
                                        <div class="card">
                                            <header class="card-header">
                                                <p class="card-header-title">{{ emission }}</p>
                                                <button class="card-header-icon" aria-label="more options">
                                                    <span class="icon">
                                                        <i class="fas fa-edit" aria-hidden="true"></i>
                                                    </span>
                                                </button>
                                            </header>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="pagination">
                                <span class="step-links">
                                    {% for key, val in emissions_by_department.items %}
                                    {% if key == user_department.department.id %}
                                    {% if val.has_previous %}
                                    <a
                                        href="?page_{{ user_department.department.id }}=1&tab={{forloop.parentloop.counter0}}">&laquo;
                                        primera</a>
                                    <a
                                        href="?page_{{ user_department.department.id }}={{ val.previous_page_number }}&tab={{forloop.parentloop.counter0}}">anterior</a>
                                    {% endif %}

                                    <span class="current">
                                        Página {{ val.number }} de {{val.paginator.num_pages }}.
                                    </span>

                                    {% if val.has_next %}
                                    <a
                                        href="?page_{{ user_department.department.id }}={{ val.next_page_number }}&tab={{forloop.parentloop.counter0}}">siguiente</a>
                                    <a
                                        href="?page_{{ user_department.department.id }}={{ val.paginator.num_pages }}&tab={{forloop.parentloop.counter0}}">última
                                        &raquo;</a>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}

                                </span>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block plugins %}
<script src="{% static 'js/bulmaJS/tabs.js' %}"></script>
{% endblock %}