{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <title>{% block title %}{%endblock%}</title>
</head>

<body>
    {% if user.is_authenticated %}
    <section class="hero is-small is-primary ">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item has-text-grey" href="/">
                            {% trans "emission" %}{{ global_settings.name }}
                        </a>
                        <span class="navbar-burger" data-target="navbarMenuHeroA">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <span class="has-text-grey">
                                    {% trans "welcome" %} {{ user.username }}!
                                </span>
                            </span>
                            <span class="navbar-item">
                                <form action="{% url 'logout' %}" method="post">
                                    {% csrf_token %}
                                    <button class="button is-small is-responsive is-rounded is-link"
                                        type="submit">{%trans "logout" %}</button>
                                </form>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body has-text-right">

        </div>
        <div class="hero-foot">
            <div class="container">
                {% block menu %}
                {% endblock %}
            </div>
        </div>
    </section>
    {% endif %}

    {% block content %}
    {% endblock %}
    <script src="{% static 'js/bulmaJS/bulma.js' %}"></script>
    {% block plugins %}
    {% endblock %}
    <script src="https://kit.fontawesome.com/8ba9d1d584.js" crossorigin="anonymous"></script>
</body>

</html>