{% load static %}
{% load i18n %}
{% load colors %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bulma-tooltip.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bulma-radio-checkbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <title>{% block title %}{%endblock%}</title>
    {% with global_settings.primary_color|hex_to_hls as primary_color %}
    {% with global_settings.secondary_color|hex_to_hls as secondary_color %}
    <style>
        :root{
            --bulma-primary-h: {{ primary_color.0 }};
            --bulma-primary-s: {{ primary_color.2 }};
            --bulma-primary-l: {{ primary_color.1 }};
            --bulma-link-h: {{ secondary_color.0 }};
            --bulma-link-s: {{ secondary_color.2 }};
            --bulma-link-l: {{ secondary_color.1 }};
        }
    </style>
    {% endwith %}
    {% endwith %}
</head>

<body>
    {% if user.is_authenticated %}
    <section class="hero is-small is-primary ">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item has-text-grey" href="/">
                            {% if global_settings.logo %}
                            <img src="{{global_settings.logo.url}}" alt="Logo" width="32" height="32">
                            {% endif %}
                            <span class="subtitle">&nbsp;{{ global_settings.name }}</span>
                        </a>
                        <span class="navbar-burger" data-target="navbarMenuHeroA">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <form action="{% url 'account_logout' %}" method="post">
                                    {% csrf_token %}
                                    <div class="tags has-addons ">
                                        <span class="tag is-medium">{% trans "welcome" %} {{ user.username }}!</span>
                                        <button class="tag is-medium button is-small is-link" type="submit">
                                            {%trans "logout" %}
                                        </button>
                                    </div>
                                </form>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body has-text-right">

        </div>
        <div class="hero-foot">
            <div class="container">
                {% block menu %}
                {% endblock %}
            </div>
        </div>
    </section>
    {% endif %}
    {% if messages %}
    <div id="messages" class="is-hidden">
        <ul>
            {% for message in messages %}<li>{{ message }}</li>{% endfor %}
        </ul>
    </div>
    {% endif %}
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/bulmaJS/bulma.js' %}"></script>
    <script src="{% static 'js/bulma-toast.min.js' %}"></script>
    <script src="{% static 'js/messages.js' %}"></script>
    {% block plugins %}
    {% endblock %}
    <script src="https://kit.fontawesome.com/8ba9d1d584.js" crossorigin="anonymous"></script>
    {% if messages %}
    <script src="{% static 'js/notify.js' %}"></script>
    {% endif %}
</body>

</html>