{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "remove received" %}{%endblock%}
{% block menu %}

<a class="title" href="{%url 'emissions:admin_index' %}">◀ {% trans "home" %}</a>
<h1 class="subtitle">{% trans "remove received" %}</h1>


{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="box">
            <form method="post">
                {% csrf_token %}
                {% include 'emission/components/emission_detail.html' %}
                <div class="field">
                    <button class="button is-info" type="submit">📝 {% trans "save" %}</button>
                </div>
            </form>

        </div>
    </div>
</section>
{% endblock %}