{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "emission" %}{%endblock%}
{% block menu %}

<a class="title" href="{%url 'emissions:index' %}">◀ {% trans "home" %}</a>
{% if emission %}
<h1 class="subtitle">{% trans "new emission" %}</h1>
{% else %}
<h1 class="subtitle">{% trans "edit emission" %}</h1>
{% endif %}

{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="box">
            <form method="post" action="">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="field">
                    {{form}}
                    {{ form.content.errors }}
                </div>
                <div class="field">
                    <button class="button is-link" type="submit">📝 {% trans "save" %}</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}